body {
	 align-items: center;
	 background: black;
	 background-image: url("skin.jpg");
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
	 display: flex;
	 height: 100vh;
	 justify-content: center;
	 margin: 0;
	 padding: 0;
}

.hide {
	display: none;
}

.appear {
	display: inline-block;
}


 .skin_background {
	 background-size: cover;
}
 .player {
	 max-width: 720px;
	 border: 6px solid rgba(255, 255, 255, 0.2);
	 box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);
	 position: relative;
	 overflow: hidden;
}
 .player:hover .progress {
	 height: 10px;
}
 .player:hover .player-controls {
	 transform: translateY(0);
}
 .player:-webkit-full-screen, .player:fullscreen {
	 max-width: none;
	 width: 100%;
}
 .play-btn {
	 flex: 1;
}
 #player-video {
	 width: 100%;
	 display: block;
}
 .player-btn {
	 background: none;
	 border: 0;
	 color: white;
	 text-align: center;
	 max-width: 60px;
	 padding: 5px 8px;
}
 .player-btn svg {
	 fill: #fff;
}

 .player-btn:hover {
	 background: rgba(255, 255, 255, .2);
	 outline: none;
}


.player-btn:focus {
	background: none;
	outline: none;
}

.volume-btn:hover, .volume-btn:focus {
	background: rgba(255, 255, 255, .2);
	outline: none;
}

.volume-btn {
	background: none;
	border: 0;
	color: white;
	text-align: center;
	max-width: 60px;
	padding: 5px 8px;
}
.volume-btn svg {
	fill: #fff;
}

 .player-controls {
	 align-items: center;
	 display: flex;
	 position: absolute;
	 bottom: 0;
	 width: 100%;
	 transform: translateY(100%) translateY(-5px);
	 transition: all 0.3s;
	 flex-wrap: wrap;
	 background: rgba(0, 0, 0, 0.3);
}
 .player-controls > * {
	 flex: 1;
}
